<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="content blogs">
        <% if(blog.id){ %>
            <div class="list">
                <h3 class="title"><strong> <%= blog.title %></strong></h3>
                <p class="resumen" ><strong>Resumen:</strong> <%= blog.resume %></p>
                <p class="body"  ><strong>Cuerpo:</strong> <%= blog.body %></p>
                <div class="btn">
                    <a class="delete" href="#" data-id="<%= blog.id %>">Eliminar</a>
                    <a class="edit" href="/blog/update/<%= blog.id %>">Editar</a>
                    <a class="edit" onclick="window.history.back(1)">Volver</a>
                </div>
            </div>
        <%} else {%>
            <h3>No hay blocks</h3>
        <% } %>
        <br>
    </div>
    <%- include("./partials/footer.ejs") %>
    <script>
        //fetch
        const btnDelete = document.querySelector(".delete");
        btnDelete.addEventListener('click',(e)=>{
            const ruta = `/blog/${btnDelete.dataset.id}`;
            fetch(ruta,{method:"DELETE"})
            .then( res => res.json())
            .then(data => window.location.href=data.redirect)
            .catch(err => console.error(err))
        });

    </script>
</body>
</html>