<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="content blogs">
        <h2>Entrada:</h2>
        <% if(blog.id){ %>
            <div class="list">
                <h3 class="title"><b>Titulo:</b> <%= blog.title %></h3>
                <p class="resumen"  ><b>Resumen:</b> <%= blog.resume %></p>
                <p class="body"  ><b>Cuerpo:</b> <%= blog.body %></p>
            </div>
        <%} else {%>
            <h3>No hay blocks</h3>
        <% } %>
        <br>
        <p><a href="/"><<< Vover</a></p>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>