<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="content create-blog">
        <form name="update" method="POST" action="/blog/<%= post.id %>">
            <label for="title">Titulo</label>
            <input type="text" id="title" name="title" value="<%= post.title %>" required>
            <label for="resume">Resumen</label>
            <input type="text" id="resume" name="resume" value="<%= post.resume %>" required>
            <label for="body">Texto</label>
            <textarea id="body" name="body" required><%= post.body %></textarea>
            <div class="btn">
                <a class="delete" onclick="window.history.back(1)">Cancelar</a>
                <a class="edit" onClick="update.submit()">Guardar</a>
            </div>
            <input type="hidden" id="id" name="id" value="<%= post.id %>" >
        </form>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>